
{% extends "JobHubBundle::admin_layout.html.twig" %}


{% block page_title %}
<div class="navbar-header">
	<h2>Pays</h2>
</div>
<ul class="entity_actions pull-right back_to_list record_actions">
	<li>
		<a class="btn" href="{{ path('administration_region') }}">
		    Retour à la liste
		</a>
	</li>
</ul>
{% endblock %}

{% block page_content %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('administration_region') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('administration_region_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
