{% extends "JobHubBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Modifier Experience{% endblock %}

{% block navbar %}
{{ parent() }}
{% endblock %}

{% block contenu %}
<div class="bloc_info">
	<div class="clearfix contenu_header">
		<div class="pull-left">	<h2> Modifier </h2></div>
		<div class="pull-right">
		<a class="bloc_info_right_link" href="{{ path('candidat_profile_formation_delete', { 'id': entity.id }) }}">Delete</a>
		 | <a class="bloc_info_right_link" href="{{ path('job_hub_candidat_show') }}">Retour</a>
		</div>
	</div>
	
	 <form class="candidat_profil_form" action="{{ path('candidat_profile_formation_update', { 'id': entity.id }) }}" method="POST" {{ form_enctype(edit_form) }}>
	<table class="record_properties">
		<tbody>
			<tr>
                <th>Annee debut</th>
                <td>{{ form_widget(edit_form.anneeDebut) }}</td>
            </tr>
            <tr>
                <th>Annee fin</th>
                <td>{{ form_widget(edit_form.anneeFin) }}</td>
            </tr>
            <tr>
                <th>Libellé de votre diplôme</th>
                <td>{{ form_widget(edit_form.libelleDiplome)}}</td>
            </tr> 
            <tr>
                <th>Etablissement</th>
                <td>{{ form_widget(edit_form.etablissement) }}</td>
            </tr> 
            <tr>
                <th>Niveau d'études du diplôme</th>
                <td>{{ form_widget(edit_form.niveauEtudes) }}</td>
            </tr>
            <tr>
                <th>Diplôme obtenu</th>
                <td>{{ form_widget(edit_form.diplomeObtenu) }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ form_widget(edit_form.description) }}</td>
            </tr>
        </tbody>
		</table>
		{{form_rest(edit_form)}}
	</form>

</div>
{% endblock %} 


{% block sidebar %}
{{ render(controller( 'JobHubBundle:JobHub:bloc',  {'nom_rubrique': 'faq'} )) }}
{{ render(controller( 'JobHubBundle:JobHub:bloc',  {'nom_rubrique': 'conseil'} )) }}
{% endblock %} 

{% block footer %}
{{ parent() }}
{% endblock %}
