{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Entreprise list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Raisonsociale</th>
                <th>Contactemail</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Fax</th>
                <th>Codepostal</th>
                <th>Siteweb</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_entreprise_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.raisonSociale }}</td>
                <td>{{ entity.contactEmail }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.telephone }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.codePostal }}</td>
                <td>{{ entity.siteWeb }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_entreprise_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_entreprise_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_entreprise_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
