{# src/JH_Project/JobHubBundle/Resources/views/layout_admin.html.twig #}

<!DOCTYPE html>

<!--[if lt IE 6]> <html class="no-js ie6 oldie" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="fr"> 
<!--<![endif]-->

<head>
  <title>JobHub - Administration{% block title %}{% endblock %}</title>

  <!-- encodage des caractères -->
  <meta charset="utf-8">
  <!-- référencements -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- fenêtre scalable -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--IE compatible modes-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- couleur de l'arrière-plan -->
  <meta name="msapplication-TileColor" content="#5bc0de">
  <!-- image de l'arrière-plan -->
  <meta name="msapplication-TileImage" content="">
  
  <!-- ICON -->
  <link rel="icon" type="image/png" href="{{ asset('bundles/jobhub/images/common/favicon.png') }}" />
  
  <!-- CSS -->
  <link href="{{ asset('bundles/jobhub/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('bundles/jobhub/css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('bundles/jobhub/css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('bundles/jobhub/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('bundles/jobhub/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('bundles/jobhub/css/main.css') }}" rel="stylesheet" media="screen">

  <!-- JS -->
  <script src="{{ asset('bundles/jobhub/js/bootstrap.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/jobhub/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/jobhub/js/main.js') }}" type="text/javascript"></script>

</head>
  
<body>

  <nav id="head" class="navbar navbar-fixed-top navbar-inverse">
    {% include 'JobHubBundle::BackEnd/_common/navbar.html.twig' %}
  </nav>

  <section id="body" class="container-fluid">

    <div id="sidebar" class="span3">
      {% include 'JobHubBundle::BackEnd/_common/sidebar.html.twig' with {'usr': 'usr'} %}
    </div>

    <div id="content" class="span9">
      <div class="outer">
		  <div class="inner">
		    <div id="page_title" class="nav">{% block page_title %}  {% endblock %}</div>
		    <div id="page_content">{% block page_content %}  {% endblock %}</div>
		  </div>
      </div>
    </div>

  </section>

  <footer class="navbar navbar-static-bottom navbar-inverse">
   <p>&copy; JubHub 2013 - Administration</p>
  </footer> 

</body>
</html>
