{# Ceci est un commentaire #} {#
src/JH_Project/JobHubBundle/Resources/views/Site_JobHub/layout.html.twig
#}

<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>{% block title %}JobHub{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- ICON -->
<link rel="icon" type="image/png" href="{{ asset('bundles/jobhub/images/common/favicon.png') }}" />
  
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" media="screen">
<link href="{{ asset('bundles/jobhub/css/typography.css') }}" rel="stylesheet" media="screen">
<link href="{{ asset('bundles/jobhub/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
<script src="{{ asset('bundles/jobhub/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('bundles/jobhub/js/bootstrap.min.js') }}"></script>
<link href="{{ asset('bundles/jobhub/css/front.css') }}" rel="stylesheet" media="screen">
{#<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>#}
<script type="text/javascript" src="{{ asset('bundles/jobhub/js/loc.js') }}"></script>


</head>

<body>

	{% block body%} 
	
	{% block navbar %}
	<nav class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="navbar-brand" href="{{path('job_hub_accueil')}}">JobHub</a>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown active"><a href="href="#" class="dropdown-toggle" data-toggle="dropdown">Candidat <b
							class="caret"></b>
							<ul class="dropdown-menu">
								<li><a href="{{path('candidat_cv')}}">Déposer un CV</a></li>
								<li><a href="{{path('job_hub_offre')}}">Parcourir les Offres</a></li>
							</ul></li>

					<li class="dropdown"><a href="href=" #" class="dropdown-toggle"
						data-toggle="dropdown">Entreprise <b class="caret"></b>
							<ul class="dropdown-menu"> 
								<li><a href="{{path('job_hub_offre_new')}}">Publier Offres</a></li>
								<li><a href="{{path('candidat_cv_list')}}">Consulter les CVs</a></li></li>
				   </ul>
				</ul>
				<div class="pull-right" id="show_bloc">
				{% if app.user != null %} 
				<div class="nav_btn">
				  <a class="nav_link" href="{{ path('job_hub_candidat_show') }}">Mon Compte</a> |                             
			      <a class="nav_link" href="{{ path('logout') }}">Déconnexion</a>
			    </div>  
        		{% else %}
					<!-- Button HTML ( Modal) -->
					<a class="btn btn-mini nav_link" style="margin: 10px 5px 5px 10px;"
						href="#myModal" data-toggle="modal">Se connecter</a> |						
					<!-- Modal connexion -->
					<div id="myModal" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">&times;</button>
									<h4 class="modal-title">Connexion</h4>
								</div>
								<div class="modal-body">
								{{ render(controller( 'JobHubBundle:Security:login' )) }}
							
								</div>
								<div class="modal-footer">
									<a href="{{ path('pass_oubli') }}">Mot de passe oublié</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal creation compte -->
					<a class="btn btn-mini nav_link" style="margin: 10px 10px 5px 0px;"
						href="#myModal2" data-toggle="modal">Inscription</a>
					<div id="myModal2" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">&times;</button>
									<h4 class="modal-title">Inscription</h4>
								</div>
								<div class="modal-body">
								{{ render(controller( 'JobHubBundle:JobHub:inscription_form' )) }}
								
								</div>
							</div>
						</div>
					</div>
	         {% endif %}	 	
					{#<div class="lang btn-group">
						<button class="btn btn-mini">Fr</button>
						<button class="btn btn-mini dropdown-toggle"
							data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" style="min-width: 30px;">
							<li><a href="">En</a></li>
						</ul>
					</div>#}
				</div>
			</div>
	
	</nav>

	{% endblock %} <!-- END navbar block-->

	<div id="searchbar">			    
		{{ render(controller( 'SearchEngineBundle:SearchOffer:search' )) }}
	</div>
<section class="container">
	
		<div class="col-lg-9">	
			<div id="hey_user">	
			{% block hey_user %}
					{% include 'JobHubBundle::_common/hey_user.html.twig' %} 
			{% endblock %} 
			</div>
			<div id="contenu">			    
					{% block contenu %}
					{% endblock %} 
			</div>
		</div>
		<div id="sidebar" class="col-lg-3">
		{% if  is_granted('ROLE_ENTREPRISE') or is_granted('ROLE_CANDIDAT') %}
			{% include 'JobHubBundle::_common/user_bloc_side.html.twig' %}
		{% endif %}
				{% block sidebar %}
				{% endblock %} 
		</div>
   </div>	
</section>		
	
	<!-- FOOTER-->
	{% block footer %}
		<footer id="footer" class="navbar navbar-static-bottom navbar-inverse">
			<ul class="hide_bloc nav navbar-nav pull" id="footer_items">
				<li><a href="{{path('candidat_cv')}}">Publier cv</a></li>
				<li><a href="{{path('job_hub_offre')}}">Consulter offres</a></li>
				<li><a href="{{path('job_hub_plan')}}">Plan</a></li>
			</ul>
			<p>&copy; JubHub 2013</p>
		</footer>

		<!-- /Footer-->
	{% endblock %}

{% endblock %}<!-- END body block-->

</body>
</html>
