{% extends "JobHubBundle::admin_layout.html.twig" %}

{% block page_title %}
<div class="navbar-header">
<h2>Offre</h2>
</div>
<ul class="entity_actions pull-right back_to_list record_actions">
<li>
    <a href="{{ path('administration_offre') }}">
        Retour à la liste
    </a>
</li>
</ul>
{% endblock %}

{% block page_content %}

    <table class="record_properties" id="edito">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ entity.intitule }}</td>
            </tr>
            <tr>
                <th>Maj</th>
                <td>{{ entity.maj|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            <tr>
                <th>Fonctionposte</th>
                <td>{{ entity.fonctionPoste }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('administration_offre') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('administration_offre_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
