{% extends "JobHubBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Experience{% endblock %}

{% block navbar %}
{{ parent() }}
{% endblock %}

{% block contenu %}
<div class="bloc_info">
	<div class="clearfix contenu_header">
		<div class="pull-left">	<h2> Détails Experience</h2></div>
		<div class="pull-right bloc_info_right_link">
		<a class="bloc_info_right_link" href="{{ path('candidat_profile_experience_edit', { 'id': entity.id }) }}">Modifier</a> | 
		<a class="bloc_info_right_link" href="{{ path('candidat_profile_experience_delete', { 'id': entity.id }) }}">Delete</a> | 
		<a class="bloc_info_right_link" href="{{ path('job_hub_candidat_show') }}">Retour</a>
		</div>
	</div>
	<div class="candidat_profil_form">
	<table class="record_properties">
		<tbody>
			<tr>
                <th>Date debut</th>
                <td>{{ entity.dateDebut|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ entity.dateFin|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Fonction du poste</th>
                <td>{{ entity.fonction }}</td>
            </tr> 
            <tr>
                <th>Entreprise</th>
                <td>{{ entity.entreprise }}</td>
            </tr> 
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
	</table>
	</div>
</div>

{% endblock %} 

{% block sidebar %}
{{ render(controller( 'JobHubBundle:JobHub:bloc',  {'nom_rubrique': 'faq'} )) }}
{{ render(controller( 'JobHubBundle:JobHub:bloc',  {'nom_rubrique': 'conseil'} )) }}
{% endblock %} 

{% block footer %}
{{ parent() }}
{% endblock %}
